<body data-gr-c-s-loaded="true">
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <% include ../partials/_navbar %>
        <!-- partial -->

        <div class="container-fluid page-body-wrapper">

        <!-- partial:../../partials/_sidebar.html -->
        <% include ../partials/_sidebar %>
        <!-- partial -->

            <div class="main-panel">
                <div class="content-wrapper">
                <% if(data.length == 0) { %>
                    <div class="container">
                        <div class="col-md-6 offset-xl-3">
                            <div class="card p-3">
                                <div class="card-body">
                                    <div class="text-center">
                                        <h3 class="text-danger">
                                            <strong>
                                                There is no BOTs to display.
                                            </strong>
                                        </h3>
                                    </div><hr>
                                    
                                    <div class="text-center pt-3">
                                        <h5 class="text-primary">
                                            <b>
                                                If you want to create new bot, click
                                                <a href="/createBot" class="text-success">
                                                    here
                                                </a>
                                            </b>
                                        </h5>
                                        
                                    </div>
        
                                    <div class="pt-3 text-center">
                                        <a href="/createBot" class="btn btn-outline-success font-weight-bold">
                                            create new bot
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                    <div class="row">
                    <% for(var obj of data) { %> 
                        <div class="col-md-2 mt-3 mb-3 card-bots">
                            <div class="card">
                                <img src="assets/images/bot.jpg" class="card-img bot-img" alt="header-image">
                                <div class="card-img-overlay">
                                    <div class="text-right text-white">
                                        <i onclick="deleteBot(<%= obj.bot[0].id %>)"
                                            class="material-icons outlined">
                                            cancel
                                        </i>
                                    </div>
                                </div>

                                <div class="card-body p-1 mb-3">
                                    <div class="card-title text-center m-0">
                                        <h4 class="text-primary">
                                            <b>
                                                <%= obj.bot[0].bot_name %>
                                            </b>
                                        </h4>
                                    </div>
                                    <div class="text-center">
                                        <button type="button"
                                            class="btn btn-lg btn-primary btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2"
                                            data-toggle="modal" 
                                            data-target="#editModal<%= obj.bot[0].id %>">

                                            <h7 class="m-0 p-0">
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </h7>
                                        </button>

                                    <% if(obj.bot[0].is_activated == 'Y') { %>
                                        <button type="button" 
                                            class="btn btn-lg btn-primary btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2"
                                            id="change-status-<%= obj.bot[0].id %>"
                                            onclick="changStatus(<%= obj.bot[0].id %>)">
                                            <h7 id="pause<%= obj.bot[0].id %>" class="m-0 p-0">
                                                <i class="fa fa-pause"></i>
                                                Pause
                                            </h7>
                                        </button>
                                    <% } else { %>
                                        <button type="button" 
                                            class="btn btn-lg btn-primary btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2"
                                            id="change-status-<%= obj.bot[0].id %>"
                                            onclick="changStatus(<%= obj.bot[0].id %>)">
                                            <h7 id="play<%= obj.bot[0].id %>" class="m-0 p-0">
                                                <i class="fa fa-play"></i>
                                                Play
                                            </h7>
                                        </button>
                                    <% } %>
                                        <button type="button" 
                                            class="btn btn-lg btn-warning btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2"
                                            data-toggle="modal" 
                                            data-target="#challengeModal<%= obj.bot[0].id %>">
                                            <h7 class="m-0 p-0">
                                                <i class="fa fa-cogs"></i>
                                                Challenge
                                            </h7>
                                        </button>
                                    </div>
                                </div>
                                <!-- Begin Modal -->
                            <% if(obj.fums.length > 0) { %>
                                <!-- Begin edit modal -->
                                <div class="modal  fade" id="editModal<%= obj.bot[0].id %>" tabindex="-1" role="dialog" aria-labelledby="editModal<%= obj.bot[0].id %>Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content allbot-edit-modal">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <h4 class="text-success">
                                                                <strong>
                                                                    Edit Bot -- <%= obj.bot[0].bot_name %>
                                                                </strong>
                                                            </h4>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <img src="<%= obj.bot[0].account_image_url %>" 
                                                                        class="rounded-circle border-success imgCreateBot"
                                                                        style="width: 100%; border: 5px solid;" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend bg-primary">
                                                                        <span class="input-group-text bg-transparent" style="font-size: 18px">
                                                                            <i class="mdi mdi-account text-white"></i>
                                                                        </span>
                                                                        </div>
                                                                        <input type="text" id="account-name-<%= obj.bot[0].id %>" 
                                                                            value="<%= obj.bot[0].account_name %>"
                                                                            class="form-control form-control-lg" 
                                                                            style="font-size: 14px" 
                                                                            placeholder="Account name" 
                                                                            aria-label="Account name" 
                                                                            aria-describedby="Account name"
                                                                            disabled />
                                                                    </div>
                                                                </div>
        
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend bg-primary">
                                                                        <span class="input-group-text bg-transparent" style="font-size: 18px">
                                                                            <i class="mdi mdi-lock text-white"></i>
                                                                        </span>
                                                                        </div>
                                                                        <input type="text" id="account-password-<%= obj.bot[0].id %>" 
                                                                            value="<%= obj.bot[0].account_password %>"
                                                                            class="form-control form-control-lg" 
                                                                            style="font-size: 14px" 
                                                                            placeholder="Account password" 
                                                                            aria-label="Account password" 
                                                                            aria-describedby="Account password"
                                                                            disabled />
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend bg-primary">
                                                                        <span class="input-group-text bg-transparent" style="font-size: 18px">
                                                                            <i class="mdi mdi-clock text-white"></i>
                                                                        </span>
                                                                        </div>
                                                                        <input type="text" id="message-delay-<%= obj.bot[0].id %>" 
                                                                            value="<%= obj.bot[0].message_delay %>"
                                                                            class="form-control form-control-lg" 
                                                                            style="font-size: 14px" 
                                                                            placeholder="Message delay" 
                                                                            aria-label="Message delay" 
                                                                            aria-describedby="Message delay"/>
                                                                    </div>
                                                                </div>
        
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend bg-primary">
                                                                        <span class="input-group-text bg-transparent" style="font-size: 18px">
                                                                            <i class="mdi mdi-counter text-white"></i>
                                                                        </span>
                                                                        </div>
                                                                        <input type="text" id="max-comment-<%= obj.bot[0].id %>"
                                                                            value="<%= obj.bot[0].max_comment %>"
                                                                            class="form-control form-control-lg" 
                                                                            style="font-size: 14px" 
                                                                            placeholder="Max comment daily" 
                                                                            aria-label="Max comment daily" 
                                                                            aria-describedby="Max comment daily" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
        
                                                        <div class="form-group">
                                                            <div class="card card-body">
                                                                <div class="form-group">
                                                                    <label for="filters">
                                                                        Filters (hashtags)
                                                                    </label>
                                                                
                                                                    <textarea class="form-control" rows="3" id="filters-<%= obj.bot[0].id %>" aria-describedby="filters-small" placeholder="Enter filters"><% for(var objFilter of obj.filters) { %><%= objFilter.hashtag + ', \n' %><% } %></textarea>
                                                                    <small id="filters-small" class="form-text text-muted">You need to put the filters with <strong> comma(,) </strong>.</small>
                                                                
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="comments">
                                                                        Comments
                                                                    </label>
                                                                    <textarea class="form-control" rows="3" id="comments-<%= obj.bot[0].id %>" aria-describedby="comments-small" placeholder="Enter comments"><% for(var objComment of obj.comments) { %><%= objComment.text + ', \n' %><% } %></textarea>
                                                                    <small id="comments-small" class="form-text text-muted">You need to put the comments with <strong> comma(,) </strong>.</small>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="replies">
                                                                        Direct Messages
                                                                    </label>
                                                                    <textarea class="form-control" rows="3" id="replies-<%= obj.bot[0].id %>" aria-describedby="replies-small" placeholder="Enter replies"><% for(var objReply of obj.replies) { %><%= objReply.text + ', \n' %><% } %></textarea>
                                                                    <small id="replies-small" class="form-text text-muted">You need to put the messages with <strong> comma(,) </strong>.</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="card card-body">
                                                            <h4 class="text-primary">
                                                                <strong>
                                                                    Follow up messages 
                                                                </strong>
                                                            </h4>
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" 
                                                                            rows="2" id="fum-<%= obj.bot[0].id %>-2th" 
                                                                            placeholder="Enter filters"><%= obj.fums[0].text %></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6 class="text-primary" id="2thday-<%= obj.bot[0].id %>-title">
                                                                            <b>In 2th day.</b>
                                                                        </h6>
                                                                        <span class="text-secondary" id="2thday-<%= obj.bot[0].id %>-start-date">
                                                                            <b><%= (new Date(obj.fums[0].start_date).getMonth()+1) + '/'+new Date(obj.fums[0].start_date).getDate() +'/' + new Date(obj.fums[0].start_date).getFullYear() %></b>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" 
                                                                            rows="2" id="fum-<%= obj.bot[0].id %>-6th" 
                                                                            placeholder="Enter filters"><%= obj.fums[1].text %></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6 class="text-primary" id="6thday-<%= obj.bot[0].id %>-title">
                                                                            <b>In 6th day.</b>
                                                                        </h6>
                                                                        <span class="text-secondary" id="6thday-<%= obj.bot[0].id %>-start-date">
                                                                            <b><%= (new Date(obj.fums[1].start_date).getMonth()+1) + '/'+new Date(obj.fums[1].start_date).getDate() +'/' + new Date(obj.fums[1].start_date).getFullYear() %></b>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" 
                                                                            rows="2" id="fum-<%= obj.bot[0].id %>-12th" 
                                                                            placeholder="Enter filters"><%= obj.fums[2].text %></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6 class="text-primary" id="12thday-<%= obj.bot[0].id %>-title">
                                                                            <b>In 12th day.</b>
                                                                        </h6>
                                                                        <span class="text-secondary" id="12thday-<%= obj.bot[0].id %>-start-date">
                                                                            <b><%= (new Date(obj.fums[2].start_date).getMonth()+1) + '/'+new Date(obj.fums[2].start_date).getDate() +'/' + new Date(obj.fums[2].start_date).getFullYear() %></b>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" 
                                                                            rows="2" id="fum-<%= obj.bot[0].id %>-21th" 
                                                                            placeholder="Enter filters"><%= obj.fums[3].text %></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6 class="text-primary" id="21thday-<%= obj.bot[0].id %>-title">
                                                                            <b>In 21th day.</b>
                                                                        </h6>
                                                                        <span class="text-secondary" id="21thday-<%= obj.bot[0].id %>-start-date">
                                                                            <b><%= (new Date(obj.fums[3].start_date).getMonth()+1) + '/'+new Date(obj.fums[3].start_date).getDate() +'/' + new Date(obj.fums[3].start_date).getFullYear() %></b>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" 
                                                                            rows="2" id="fum-<%= obj.bot[0].id %>-1month" 
                                                                            placeholder="Enter filters"><%= obj.fums[4].text %></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6 class="text-primary" id="1month-<%= obj.bot[0].id %>-title">
                                                                            <b>In 1 month.</b>
                                                                        </h6>
                                                                        <span class="text-secondary" id="1month-<%= obj.bot[0].id %>-start-date">
                                                                            <b><%= (new Date(obj.fums[4].start_date).getMonth()+1) + '/'+new Date(obj.fums[4].start_date).getDate() +'/' + new Date(obj.fums[4].start_date).getFullYear() %></b>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" 
                                                                            rows="2" id="fum-<%= obj.bot[0].id %>-2month" 
                                                                            placeholder="Enter filters"><%= obj.fums[5].text %></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6 class="text-primary" id="2month-<%= obj.bot[0].id %>-title">
                                                                            <b>In 2 month.</b>
                                                                        </h6>
                                                                        <span class="text-secondary" id="2month-<%= obj.bot[0].id %>-start-date">
                                                                            <b><%= (new Date(obj.fums[5].start_date).getMonth()+1) + '/'+new Date(obj.fums[5].start_date).getDate() +'/' + new Date(obj.fums[5].start_date).getFullYear() %></b>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" 
                                                                            rows="2" id="fum-<%= obj.bot[0].id %>-3month" 
                                                                            placeholder="Enter filters"><%= obj.fums[6].text %></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6 class="text-primary" id="3month-<%= obj.bot[0].id %>-title">
                                                                            <b>In 3 month.</b>
                                                                        </h6>
                                                                        <span class="text-secondary" id="3month-<%= obj.bot[0].id %>-start-date">
                                                                            <b><%= (new Date(obj.fums[6].start_date).getMonth()+1) + '/'+new Date(obj.fums[6].start_date).getDate() +'/' + new Date(obj.fums[6].start_date).getFullYear() %></b>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <div class="row">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control" 
                                                                            rows="2" id="fum-<%= obj.bot[0].id %>-4month" 
                                                                            placeholder="Enter filters"><%= obj.fums[7].text %></textarea>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <h6 class="text-primary" id="4month-<%= obj.bot[0].id %>-title">
                                                                            <b>In 4 month.</b>
                                                                        </h6>
                                                                        <span class="text-secondary" id="4month-<%= obj.bot[0].id %>-start-date">
                                                                            <b><%= (new Date(obj.fums[7].start_date).getMonth()+1) + '/'+new Date(obj.fums[7].start_date).getDate() +'/' + new Date(obj.fums[7].start_date).getFullYear() %></b>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        <div class="modal-footer">
                                            <button type="button" 
                                                class="btn btn-outline-info" 
                                                data-dismiss="modal">
                                            
                                                Close
                                            </button>
                                            
                                            <button type="button"
                                                onclick="updateBot(<%= obj.bot[0].id %>)" 
                                                class="btn btn-primary">
                                                
                                                Save changes
                                            </button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Begin edit modal -->

                                <!-- Begin state modal -->
                                <div class="modal fade" id="stateModal<%= obj.bot[0].id %>" tabindex="-1" role="dialog" aria-labelledby="stateModal<%= obj.bot[0].id %>Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="stateModalLabel">Bot state modal</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Begin state modal -->

                                <!-- Begin challenge modal -->
                                <div class="modal fade" id="challengeModal<%= obj.bot[0].id %>" tabindex="-1" role="dialog" aria-labelledby="challengeModal<%= obj.bot[0].id %>Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <h3 class="modal-title" id="challengeModal<%= obj.bot[0].id %>Label">
                                                        <b class="text-primary">
                                                            Callenge bot modal
                                                        </b>
                                                    </h3>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="card card-body p-3">
                                                            <div class="text-center">
                                                                <h4 class="text-danger">
                                                                    <strong>
                                                                        Add Your Phone Number
                                                                    </strong>
                                                                </h4>
                                                                <label for="">
                                                                    Help us keep the Instagram community safe by entering phone number. 
                                                                    We will text you a security code
                                                                </label>
                                                            </div>
                                                            <div class="input-group">
                                                                <input id="challenge-phone-<%= obj.bot[0].id %>" type="number" class="form-control form-control-lg" placeholder="&nbsp; Input your phone number." aria-label="Please input your phone number." aria-describedby="basic-addon2" autofocus required>
                                                                <div class="input-group-append">
                                                                    <button 
                                                                        onclick="challengePhone(<%= obj.bot[0].id %>)" 
                                                                        type="button" 
                                                                        class="btn btn-raised btn-success" 
                                                                        data-toggle="collapse" 
                                                                        href="#challenge" 
                                                                        role="button" 
                                                                        aria-expanded="false"
                                                                        aria-controls="challenge">
                                                                        Send
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="collapse" id="challenge">
                                                                <div class="form-group text-center">
                                                                    <div class="form-group pt-3">
                                                                        <h5>
                                                                            Input your verification code.
                                                                        </h5>
                                                                    </div>
                                                                    <div class="input-group">
                                                                        <input id="verify-phone-<%= obj.bot[0].id %>" type="number" class="form-control form-control-lg" placeholder="&nbsp; Input your challenge code." aria-label="Input your challenge code." aria-describedby="basic-addon3" autofocus required>
                                                                        <div class="input-group-append">
                                                                            <botton
                                                                                onclick="verifyPhone(<%= obj.bot[0].id %>)" 
                                                                                class="btn btn-raised btn-success"
                                                                                aria-expanded="false"
                                                                                aria-controls="challenge">
                                                                                Challenge
                                                                            </botton>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="card card-body p-3">
                                                            <div class="text-center">
                                                                <h4 class="text-facebook">
                                                                    <strong>
                                                                        Verify your email
                                                                    </strong>
                                                                </h4>
                                                                <label for="">
                                                                    To secure your account, we'll send you a security code to verify your identity. 
                                                                    How do you want to receive your code?
                                                                </label>
                                                            </div>
                                                            <div class="input-group">
                                                                <input id="challenge-email-<%= obj.bot[0].id %>" type="number" 
                                                                    class="form-control form-control-lg" 
                                                                    placeholder="&nbsp; Input your verification code." 
                                                                    aria-label="Please input your verification code." 
                                                                    aria-describedby="basic-addon2" 
                                                                    autofocus required>
                                                                <div class="input-group-append">
                                                                    <button 
                                                                        onclick="challengeEmail(<%= obj.bot[0].id %>)" 
                                                                        type="button" 
                                                                        class="btn btn-raised btn-success" >
                                                                        Send
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Begin challenge modal -->

                                <!-- End Modal -->
                            <% } %>
                            </div>
                        </div>
                    <% } %>
                    </div>
                </div>
            <!-- content-wrapper ends -->

            <!-- partial:../../partials/_footer.html -->
            <% include ../partials/_footer %>

            <!-- partial -->
            </div>
        <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <% include ../partials/_scripts %>

    <script src="app/js/allBots.js"></script>
</body>