<body data-gr-c-s-loaded="true">
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <% include ../partials/_navbar %>
        <!-- partial -->

        <div class="container-fluid page-body-wrapper">

        <!-- partial:../../partials/_sidebar.html -->
        <% include ../partials/_sidebar %>
        <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper"> 
                    <div class="form-group align-items-center mb-3">
                        <h3>
                            <strong>
                                Unread Notifications
                            </strong>
                        </h3>
                    </div>
                <% if(data.length == 0) { %>
                    <div class="col-md-6 offset-xl-2">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="text-danger">
                                    <strong>
                                        There are not Notifications to display.
                                    </strong>
                                </h4>
                                <div class="text-center pt-3">
                                    <h5 class="text-primary">
                                        <b>
                                            If you want to create new bot, click
                                            <a href="/createBot" class="text-success">
                                                here
                                            </a>
                                        </b>
                                    </h5>
                                    
                                </div>
    
                                <div class="pt-3 text-center">
                                    <a href="/createBot" class="btn btn-outline-success font-weight-bold">
                                        create new bot
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <style>
                        .card:hover{
                            width: 100%;
                            height: 100%;
                            -webkit-transition: width .3s; /* Safari prior 6.1 */
                            transition: width .3s;
                            opacity: 1 !important;
                        }
                                            
                        .form-check .form-check-label input:checked + .input-helper:after {
                            width: 18px;
                            opacity: 1;
                            line-height: 0px;
                            -webkit-transform: scale(2);
                            transform: scale(2);
                        }
                    </style>
                    <div class="card-columns">
                    <% for(var obj of data) { %>
                        <div class="card"
                             id = "card-<%= obj.history_id %>"
                             style="opacity: 0.5; cursor:pointer;">
                            <div class="card-body p-3">
                                <% 
                                    var imgUrl = '';
                                    var issueDetail = '';
                                    switch (obj.challenge_id + 1) {
                                        case 0:
                                            imgUrl = 'assets/images/action_images/Deleted.png';
                                            issueDetail = obj.message;
                                            break;
                                        case 1: 
                                            imgUrl = 'assets/images/action_images/Activated.png';
                                            issueDetail = obj.message;
                                            break;
                                        case 2:
                                            imgUrl = 'assets/images/action_images/ActionSpamError.png';
                                            issueDetail = obj.message;
                                            break;
                                        case 3:
                                            imgUrl = 'assets/images/action_images/RequestError.png';
                                            issueDetail = obj.message;
                                            break;
                                        case 4:
                                            imgUrl = 'assets/images/action_images/CheckPointError.png';
                                            issueDetail = obj.message;
                                            break;
                                        case 5:
                                            imgUrl = 'assets/images/action_images/SentryBlockError.png';
                                            issueDetail = obj.message;
                                            break;
                                        case 6:
                                            imgUrl = 'assets/images/action_images/ParseError.png';
                                            issueDetail = obj.message;
                                            break;
                                        case 7:
                                            imgUrl = 'assets/images/action_images/TypeError.png';
                                            issueDetail = obj.message;
                                            break;
                                    }
                                %>

                                <div class="form-group mb-0">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <img class="card-img-top" src="<%= imgUrl %>" style="width: 30px;" alt="">
                                                <span class="font-weight-bolder text-danger" id="botname-<%= obj.history_id %>">
                                                    " <%= obj.bot_name %> " <%= obj.history_id%>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check p-0 float-right" title="Check out" >
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-inline" name="" id="checkbox-<%= obj.history_id %>" value="<%= obj.history_id %>" />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <span><%= issueDetail %></span>
                                </div>
                            </div>
                        </div>
                    <% } %>
        
                    </div>
                <% } %>
                </div>
            <!-- content-wrapper ends -->

            <!-- partial:../../partials/_footer.html -->
            <% include ../partials/_footer %>
            <!-- partial -->
            </div>
        <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <% include ../partials/_scripts %>

    <script src="app/js/notification.js"></script>
</body>