<body data-gr-c-s-loaded="true">
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <% include ../../partials/_navbar %>
        <!-- partial -->

        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> -->


        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            <% include ../../partials/_sidebar %>

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="card">
                        <div class="card-body">
                            <table id="example" class="display hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>User name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% for(var obj of data) { %>
                                    <tr>
                                        <td> <%= obj.first_name %> </td>
                                        <td> <%= obj.last_name %> </td>
                                        <td> <%= obj.user_name %> </td>
                                        <td> <%= obj.email %> </td>
                                        <td> <%= obj.name %> </td>
                                        <td> <%= (new Date(obj.createdAt)).toISOString().split('T')[0] %> </td>
                                    </tr>
                                <% } %>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>User name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Created Date</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>


                </div>

            <!-- partial:../../partials/_footer.html -->
            <% include ../../partials/_footer %>
            <!-- partial -->
            </div>
        <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <% include ../../partials/_scripts %>

    <script src="app/js/admin/user.js"></script>
</body>